<%- include("header")-%>

<h2>this is about me!</h2>
<p>I like to sing. and eat. and travel, and move. and all other things. i dont really know what i am writing because i just need to fill this up as much as possible</p>
<h2>thank you for coming to my ted talk! :)</h2>

<%- include("footer")-%>